<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" android:required="true" />

    <application
        android:name=".ShooptApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Shoopt"
        tools:targetApi="34">

        <!-- Configuration Firebase Crashlytics -->
        <meta-data
            android:name="firebase_crashlytics_collection_enabled"
            android:value="${crashlyticsCollectionEnabled}" />

        <activity
            android:name=".scanner.BarcodeScannerActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <activity
            android:name=".activities.SettingsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.UserProfileActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Shoopt" />
        <activity
            android:name=".activities.RegisterActivity"
            android:exported="false"
            android:label="@string/title_activity_register"
            android:theme="@style/Theme.Shoopt" />
        <activity
            android:name=".activities.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".activities.OnboardingActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Shoopt" />
        <activity
            android:name=".activities.TrackShoppingActivity"
            android:exported="false"
            android:label="@string/title_activity_track_shopping"
            android:theme="@style/Theme.Shoopt" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.dedoware.shoopt.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".activities.AnalyseActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.SplashScreenActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.UpdateShoppingListActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ProductsFullscreenActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Shoopt" />
        <activity
            android:name=".activities.AddProductActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/Theme.Shoopt" />
        <activity
            android:name=".activities.ProductChoiceActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Shoopt" />
        <activity
            android:name=".activities.MainActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:launchMode="singleTop" />
    </application>

</manifest>
